<div class="container-fluid">
  <div class=" text-center title">
    <h1>ESPACE ENSIEGNANT</h1>
  </div>
  <div class="row">
    <div class="col-md-4 ">
      <div class="card">
        <div class="card-text">
          espaces notes
        </div>
        <div class="img0 img1"></div>
        <div class="card-block">
          <a href="#" style="margin-top: 10px" class="btn btn-info">CONSULTER NOTES</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 ">
      <div class="card">
        <div class="card-text">
          espaces absences
        </div>
        <div class="img0 img2"></div>
        <div class="card-block">
          <a href="#" style="margin-top: 10px" class="btn btn-info">ENTRER ABSENCES</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 ">
      <div class="card">
        <div class="card-text">
          espaces emploi de temps
        </div>
        <div class="img0 img3"></div>
        <div class="card-block">
          <a href="#" style="margin-top: 10px" class="btn btn-info">CONSULTER EMPLOI DE TEMPS</a>
        </div>
      </div>
    </div>


  </div>

</div>
