<div class="container-fluid">
  <div class=" text-center title">
    <h1>ESPACES</h1>
  </div>
  <div class="row">
    <div class="col-md-3 ">
      <div class="card">
        <div class="img0 img1"></div>
      <div class="card-block">
      <div class="card-title">
        <h4> Espace etudiant</h4>
      </div>
      <div class="card-text">
        du texte ici
      </div>
      <a href="#" style="margin-top: 10px" class="btn btn-info">entrer</a>
      </div>
      </div>
    </div>

    <div class="col-md-3 ">
      <div class="card">
        <div class="img0 img2"></div>
      <div class="card-block">
      <div class="card-title">
        <h4> Espace etudiant</h4>
      </div>
      <div class="card-text">
        du texte ici
      </div>
      <a href="#" style="margin-top: 10px" class="btn btn-info">entrer</a>
      </div>
    </div>
    </div>

    <div class="col-md-3 ">
      <div class="card">
        <div class="img0 img3"></div>
      <div class="card-block">
        <div class="card-title">
          <h4> Espace etudiant</h4>
        </div>
        <div class="card-text">
          du texte ici
        </div>
        <a href="#" style="margin-top: 10px" class="btn btn-info">entrer</a>
      </div>
    </div>
    </div>
    <div class=" col-md-3 ">
      <div class="card">
        <div class="img0 img4"></div>
      <div class="card-block">
      <div class="card-title">
        <h4> Espace etudiant</h4>
      </div>
      <div class="card-text">
        du texte ici
      </div>
      <a href="#" style="margin-top: 10px" class="btn btn-info">entrer</a>
      </div>
    </div>
    </div>

  </div>
</div>
